################################################################################
#                                                                              # 
#                           ____        __  _____ __                           # 
#                          / __ \____  / /_/ __(_) /__  _____                  # 
#                         / / / / __ \/ __/ /_/ / / _ \/ ___/                  # 
#                        / /_/ / /_/ / /_/ __/ / /  __(__  )                   # 
#                       /_____/\____/\__/_/ /_/_/\___/____/                    # 
#                      ___ | |/ / /_________  ____ ___  ___                    # 
#                     / _ \|   / __/ ___/ _ \/ __ `__ \/ _ \                   # 
#                    /  __/   / /_/ /  /  __/ / / / / /  __/                   # 
#                    \___/_/|_\__/_/   \___/_/ /_/ /_/\___/                    # 
#                                                                              # 
#                            mrcl's custom OS setup                            # 
#                                                                              # 
#                                                                              # 
################################################################################






################################################################################
# INSTALLING THE SYSTEM                                                        #
################################################################################



# New installation, don't upgrade
  install

# Use network installation
  url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch

# Use graphical install
  graphical

# Sorry Free Software people, but I wanna play my MP3s
  repo --name=rpmfusion-free --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-$releasever&arch=$basearch
  repo --name=rpmfusion-free-debuginfo --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-debug-$releasever&arch=$basearch
  repo --name=rpmfusion-free-source --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-source-$releasever&arch=$basearch
  repo --name=rpmfusion-free-updates --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-$releasever&arch=$basearch
  repo --name=rpmfusion-free-updates-debuginfo --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-debug-$releasever&arch=$basearch
  repo --name=rpmfusion-free-updates-source --mirrorlist=http://mirrors.rpmfusion.org/mirrorlist?repo=free-fedora-updates-released-source-$releasever&arch=$basearch






################################################################################
# CUSTOMISATIONS                                                               #
################################################################################



# Setup options
# -------------

# Run the Setup Agent on first boot
  firstboot --enable

# Keyboard layouts
  keyboard --vckeymap=us --xlayouts='us'

# System language
  lang en_US.UTF-8

# Network information
  network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
  network  --hostname=mrcl-pc.localdomain

# System timezone
  timezone Europe/Brussels --isUtc --ntpservers=ntp3.telenet-ops.be,ntp1.telenet-ops.be



# Users & Security
# ----------------
# System authorization information
  auth --enableshadow --passalgo=sha512
  rootpw --iscrypted "$6$0UFy2X69bVg.gvX2$RDl1z0mJLZPHof0QgZgmTqIFXxWWGH3mrKA75IvoR4l1rrkLaFQ20QpR9f5hpuOpDnAngwh2i7nsK1V87PBx21"
  user --groups=wheel --name=marcel --gecos="Marcel Samyn" --password="$6$IW7loorOHyvdU3Bz$gekfBHO/fpZTCPS817rOvJc8K6CllKVTB7VdgTA9v1Dg64MxJQFsM8RMJJYg9HTwyvpTJAMieG2.fDHEGkYQQ1" --iscrypted --shell=/usr/bin/zsh



# Desktop environment
# -------------------
# X Window System configuration information
  xconfig  --startxonboot --defaultdesktop=gnome






################################################################################
# PACKAGES                                                                     #
################################################################################



  %packages --default

# Base environment
  @^workstation-product-environment

# From the Workstation spin
  -@dial-up
  -@input-methods
  @base-x
  @firefox
  @fonts
  @gnome-desktop
  @hardware-support
  @libreoffice
  @multimedia
  @networkmanager-submodules
  @printing
  @workstation-product

# Development
  @development-tools

  redhat-rpm-config
  the_silver_searcher

  python
  python-matplotlib
  ruby
  ruby-devel
  rubygems

  git
  stow

  zsh
  vim-enhanced
  emacs
  fasd
  fzf

# Entertainment
  gthumb
  vlc # this will pull up a lot of codecs as well
  gstreamer1-libav # mp3s

# Work
  texlive-scheme-basic # the basics, we'll be able to create PDFs

# Others
  gnome-tweak-tool
  glances

  %end






################################################################################
# POST-INSTALL SCRIPTS                                                         #
################################################################################

# Make DHCP work out of the box
# -----------------------------

  %post --nochroot
    cp /etc/resolv.conf $INSTALL_ROOT/etc/resolv.conf
  %end



# Set up my home folder
# ---------------------

  %post
    # Fetch mah dotfiles
    git clone https://github.com/iamarcel/dotfiles /home/marcel/.dotfiles

    # Make sure I own everything
    chown -R marcel /home/marcel
    
    # Install Rust
    curl https://sh.rustup.rs -sSf | sh
    
    # Install Node.js
    curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
  %end

