################################################################################
#                                                                              # 
#                           ____        __  _____ __                           # 
#                          / __ \____  / /_/ __(_) /__  _____                  # 
#                         / / / / __ \/ __/ /_/ / / _ \/ ___/                  # 
#                        / /_/ / /_/ / /_/ __/ / /  __(__  )                   # 
#                       /_____/\____/\__/_/ /_/_/\___/____/                    # 
#                      ___ | |/ / /_________  ____ ___  ___                    # 
#                     / _ \|   / __/ ___/ _ \/ __ `__ \/ _ \                   # 
#                    /  __/   / /_/ /  /  __/ / / / / /  __/                   # 
#                    \___/_/|_\__/_/   \___/_/ /_/ /_/\___/                    # 
#                                                                              # 
#                            mrcl's custom OS setup                            # 
#                                                                              # 
#                                                                              # 
################################################################################






################################################################################
# INSTALLING THE SYSTEM                                                        #
################################################################################



# New installation, don't upgrade
  install

# Use network installation
  url --url=https://download.fedoraproject.org/pub/fedora/linux/releases/$releasever/Everything/$basearch/os/

# Use graphical install
  graphical






################################################################################
# CUSTOMISATIONS                                                               #
################################################################################



# Setup options
# -------------

# Run the Setup Agent on first boot
  firstboot --enable

# Keyboard layouts
  keyboard --vckeymap=us --xlayouts='us'

# System language
  lang en_US.UTF-8

# Network information
  network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
  network  --hostname=mrcl-generic.localdomain

# System timezone
  timezone Europe/Brussels --isUtc --ntpservers=ntp3.telenet-ops.be,ntp1.telenet-ops.be



# Users & Security
# ----------------
# System authorization information
  auth --enableshadow --passalgo=sha512
  user --groups=wheel --name=marcel --gecos="Marcel Samyn" --password="$6$5SRJNqnVPsI0WK1o$502Er8Cv3QJ4Wc/X443Zanxs3X.SR/16nFmS3aSqEtZgK8QZEidDMZ9eg7uQMwUu9b1svmySpX0HDqATl6Nfq." --iscrypted --shell=/usr/bin/zsh



# Desktop environment
# -------------------
# X Window System configuration information
  xconfig  --startxonboot --defaultdesktop=gnome






################################################################################
# PACKAGES                                                                     #
################################################################################



  %packages --default

# Basics
  @^developer-workstation-environment

# Development
# Parts of this might already have been included above, but some things I want
# to be sure they're installed
  python

  git

  zsh
  vim-enhanced
  emacs

  #texlive-scheme-full

  %end






################################################################################
# POST-INSTALL SCRIPTS                                                         #
################################################################################

# Make DHCP work out of the box
# -----------------------------

  %post --nochroot
    cp /etc/resolv.conf $INSTALL_ROOT/etc/resolv.conf
  %end



# Set up my home folder
# ---------------------

  %post --erroronfail
    # Get and set the Hack font
    mkdir -p /home/marcel/.fonts/hack
    curl -o /home/marcel/.fonts/hack.zip https://github.com/chrissimpkins/Hack/releases/download/v2.018/Hack-v2_018-ttf.zip
    unzip /home/marcel/.fonts/hack.zip -d /home/marcel/.fonts/hack/
    rm /home/marcel/.fonts/hack.zip
    gsettings set org.gnome.desktop.interface monospace-font-name "Hack 10"

    # Fetch mah dotfiles
    git clone https://github.com/iamarcel/dotfiles /home/marcel/.dotfiles
  %end

